body {
    background-color: white;
}
h1 {
    color: dimgray;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}
p {
    color: dimgray;
    font-family: verdana;
    font-size: 150%;
    text-align: center;
}
.instrument .header {
	color: dimgray;
	font-family: veranda;
	font-size: 200%;
}
.instrument .image {
	display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}
.instrument .image #upsideDown{
	-webkit-transform: rotate(180deg);
}
.instruments {
	column-count: 3;
}
img {
	display: block;
    margin: 0 auto;
}
#upsideDown {
	-webkit-transform: rotate(180deg);
}
.sixNotes {
	color: teal;
    font-family: verdana;
    font-size: 500%;
    text-align: center;
	column-count: 6;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 50px;
}
.fourNotes {
	color: teal;
    font-family: verdana;
    font-size: 500%;
    text-align: center;
	column-count: 4;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 50px;
}
#homeButton {
	color: dimgray;
    font-family: verdana;
    font-size: 150%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin-left: 525px;
    margin-right: 525px;
    padding: 0;
    overflow: hidden;
    background-color: teal;
}
li {
    float: left;
}
li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: teal;
    color: white;
    font-family: veranda;
    font-size: 200%;
    text-decoration: none;
}
li a:hover {
    background-color: cadetblue;
}