body {
    background-color: ghostwhite;
}
h1 {
    color: dimgray;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}
p {
    color: lightslategray;
    font-family: verdana;
    font-size: 100%;
    text-align: center;
}
.instrument .header {
	color: dimgray;
	font-family: veranda;
	font-size: 200%;
}
.instrument .image {
	display: block;
    margin: 0 auto;
    padding-bottom: 75px;
}
.instrument .image #sideways{
	-webkit-transform: rotate(90deg);
}
.instrument .image #upsideDown{
	-webkit-transform: rotate(180deg);
}
.instruments {
	column-count: 3;
}
img {
	display: block;
    margin: 0 auto;
}
#sideways {
	-webkit-transform: rotate(90deg);
}
#upsideDown {
	-webkit-transform: rotate(180deg);
}
.sixNotes {
	color: dodgerblue;
    font-family: verdana;
    font-size: 500%;
    text-align: center;
	column-count: 6;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 50px;
}
.fourNotes {
	color: dodgerblue;
    font-family: verdana;
    font-size: 500%;
    text-align: center;
	column-count: 4;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 50px;
}
#homeButton {
	color: dimgray;
    font-family: verdana;
    font-size: 150%;
    text-align: center;
    display: block;
    margin: 0 auto;
}